{% extends "base.html" %}
{% block "title" %}Autoservisas: Užsakymo kūrimas/redagavimas{% endblock %}
{% load crispy_forms_tags %}
{% block "content" %}
    <div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Užsakymo kūrimas/redagavimas</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Sukurti</button>
        </div>
    </form>
    </div>
{% endblock %}