{% extends "base.html" %}

{% block "title" %}Autoservisas: Užsakymas{% endblock %}

{% block "content" %}
<h1>Užsakymas {{ uzsakymas.data }} </h1>
<p><strong>Automobilis: </strong>{{ uzsakymas.automobilis }}</p>
<p><strong>Būsena: </strong>{{ uzsakymas.get_status_display }}</p>
<p><strong>Vartotojas: </strong>{{ uzsakymas.user }}</p>
<p><strong>Darbų pabaigimas: </strong><span class="{% if uzsakymas.is_overdue%}text-danger{% endif %}">{{ uzsakymas.deadline }}</span></p>
{% if uzsakymas.user == user %}
<div>
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'uzsakymas_update' uzsakymas.id %}">Redaguoti</a>
    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'uzsakymas_delete' uzsakymas.id %}">Ištrinti</a>
</div>
{% endif %}
<table class="table table-striped">
    <thead>
    <tr>
        <th>Paslauga</th>
        <th>Kaina</th>
        <th>Kiekis</th>
        <th>Suma</th>
    </tr>
    </thead>
    <tbody>
    {% for line in uzsakymas.lines.all %}
    <tr>
        <td>{{ line.paslauga.pavadinimas }}</td>
        <td>{{ line.paslauga.kaina }}</td>
        <td>{{ line.kiekis }}</td>
        <td>{{ line.suma }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="3"></td>
        <td><strong>{{ uzsakymas.bendra_suma }}</strong></td>
    </tr>
    </tbody>
</table>
{% if user.is_authenticated %}
<div class="fieldWrapper">
    <hr>
    <br/>
    <h4>Palikite komentarą:</h4>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.tekstas }}</br>
        <input type="submit" value="Išsaugoti">
    </form>
</div>
{% endif %}
<h2>Komentarai:</h2>
{% if uzsakymas.komentarai.all %}
{% for komentaras in uzsakymas.komentarai.all %}
<hr>
<strong>{{ komentaras.autorius }}</strong>, <em>{{ komentaras.data}}</em>
<p>{{ komentaras.tekstas }}</p>
{% endfor %}
{% else %}
<p>Užsakymas neturi komentarų</p>
{% endif %}
{% endblock %}